<!DOCTYPE html>
<html>
<head>
  <title>Content Aggregator</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Content Aggregator</h1>
  <div class='content'>
    {% for key, value in content.items() %}
    <div class='data'>
      <h2>{{key}}</h2>
        {% for i in range(0,value|length)  %}
          <a class='contenta' target="_blank" href={{value[i][1]}}>{{i+1}}. {{value[i][0]}}</a><br>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
</body>
</html>